<div class='fillPage'>
  <h2>We know your email is {{ userEmail }}, but can you tell us a bit more about yourself?</h2>
  
  <form ng-submit='newUserInfo()'>

    <div class='fillForm'>

      <div class='inputWrap'>
        <div class='fillInputs'>
          <label for='firstName'>First Name: </label>
          <input type="text" name='firstName' ng-model='firstName'>
        </div>

        <div class='fillInputs'>
          <label for='lastName'>Last Name: </label>
          <input type="text" name='lastName' ng-model='lastName'>
        </div>

        <div class='fillInputs'>
          <label for='bio'>Bio: </label>
          <textarea type="text" name='bio' ng-model='bio' rows='4'></textarea>
        </div>

        <div class='fillInputs'>
          <label for='linkedIn'>LinkedIn: </label>
          <input type="text" name='linkedIn' ng-model='linkedIn'>
        </div>

        <div class='fillInputs'>
          <label for='gitHub'>GitHub: </label>
          <input type="text" name='gitHub' ng-model='gitHub'>
        </div>

        <div class='fillInputs'>
          <label for='personalSite'>Personal Site: </label>
          <input type="text" name='personalSite' ng-model='personalSite'>
        </div>
      </div>

      <input type="submit" value='✔️'>

    </div>

  </form>


</div>
