<!-- back button -->
<form><input type="button" value="<< Go Back" onClick="history.go(-1);return true;"></form>
<h1>{{ boardName }}</h1>


<h2>New List</h2>
<form ng-submit='newList()'>
  <input type="text" ng-model='listName'>
  <input type="submit" value='Submit'>
</form>

<div class='listView'>
  <div ng-repeat='list in boardLists' class='list'>

    <div ng-show='!showEditBoxList[$index]'>
      <h2 ng-click='taskToNewBoard(list)'>{{ list.name }}</h2>
      <button ng-click='deleteList(list)'>Delete List</button>
      <button ng-click='showEditList($index)'>Edit Title</button>
    </div>

    <div ng-show='showEditBoxList[$index]'>
      <p>Edit List Title</p>
      <form ng-submit='editList($index, list._id)'>
        <input type="text" ng-model='listEdit[$index]'>
        <input type="submit" value='Save Edit'>
      </form>
    </div>

    <form ng-submit='newTask($index, list)'>
      <input type="text" ng-model='taskName[$index]'>
      <input type="submit" value='Submit'>
    </form>

    <ul class='taskUL'>
      <li ng-repeat='task in list.tasks' ng-click='taskToMove(list, task, $event)' class='task'>
        <p>{{ task }}</p>
        <button ng-click='deleteTask(task, list)'>Delete Task</button>
      </li>
    </ul>
  </div>
</div>
