<h1>Profile</h1>

<div ng-repeat='board in boards'>
  <div id='board-{{ $index }}'>
    <div ng-show="!showEdit[$index]">
      <a href='/#/board/{{ board._id }}'>{{ board.boardName }}</a>
      <button ng-click='deleteBoard(board._id)'>Delete</button>
      <button ng-click='showEditBox($index)'>Edit</button>
    </div>
    <div ng-show='showEdit[$index]'>
      <form ng-submit='editBoard($index, board._id)'>
        <input type="text" ng-model='boardNameUpdate[$index]'>
        <input type="submit" value='Submit'>
      </form>
    </div>
  </div>
</div>

<form ng-submit='createBoard()'>
  <input type="text" ng-model='boardName'>
  <input type="submit" value='Submit'>
</form>

<a href="/#/logout">Logout</a>
