<div class='profilePage'>

  <div class='bioCol'>
    <h3>Name:</h3>
    <h3>{{ firstName }} {{ lastName }}</h3>
    <h4>Bio:</h4>
    <p>{{ bio }}</p>
    <a href="{{ gitHub }}">Github Repo</a>
    <a href="{{ linkedIn }}">LinkedIn</a>
    <a href="{{ personalSite }}">Personal Portfolio</a>

    <a href="/#/logout" class='logout'>Logout</a>
  </div>

  <div class='boardsCol'>
    <h1>With Occam, you can check out an existing project...</h1>
    <div class='boards'>
      <div ng-repeat='board in boards'>
        <div id='board-{{ $index }}'>
          <div class='existingBoard'>
            <a href='/#/board/{{ board._id }}' class='boardName' ng-show="!showEdit[$index]">{{ board.boardName }}</a>
            <form ng-submit='editBoard($index, board._id)' ng-show='showEdit[$index]'>
              <input type="text" ng-model='boardNameUpdate[$index]' class='editInput' autofocus>
              <input type="submit" value='Finish'>
            </form>
            <div class='btnWrap'>
              <i class="fa fa-trash-o" aria-hidden="true" ng-click='deleteBoard(board._id)'></i>
              <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click='showEditBox($index)'></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1>or start something new.</h1>

    <div id="newBoard">
      <form ng-submit='createBoard()'>
        <input type="text" ng-model='boardName' placeholder='i.e. Backlog, Review, etc'>
        <input type="submit" value='Create Board'>
      </form>
    </div>

  </div>



</div>
