$purple: #4c3b4d;
$mint: #c9eddc;
$grey: #6a706e;
$green: #a7c4a0;
$white: #f7fffc;
$smoke: #e9ebee;


// imports
@import 'nav';
@import 'login';
@import 'fillOut';
@import 'profile';
@import 'board';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: $smoke;
}

.container {
  width: 90%;
  margin: 0 auto;
}
