.loginPage .splashImg {
  height: 500px;
  background-image: url("../img/quartet-work.jpg");
  background-size: cover;
  overflow: hidden; }
  .loginPage .splashImg .headlineBox {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #e9ebee;
    width: 40%;
    height: 40%;
    margin: 120px auto;
    text-align: center; }
    .loginPage .splashImg .headlineBox h1 {
      font-weight: 300;
      font-size: 4.2rem;
      color: #4c3b4d;
      margin: 0; }
    .loginPage .splashImg .headlineBox h2 {
      font-weight: 300;
      color: #a7c4a0;
      margin: 0;
      font-size: 3rem; }
.loginPage .regLogin {
  background-color: white;
  overflow: hidden;
  height: 450px; }
  .loginPage .regLogin h1 {
    color: #a7c4a0;
    text-align: center;
    font-weight: 300;
    font-size: 3rem; }
  .loginPage .regLogin .regLoginBox {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .loginPage .regLogin .regLoginBox .register,
    .loginPage .regLogin .regLoginBox .login {
      width: 48%; }
      .loginPage .regLogin .regLoginBox .register h3,
      .loginPage .regLogin .regLoginBox .login h3 {
        color: #a7c4a0;
        font-weight: 300;
        margin-bottom: 8px; }
      .loginPage .regLogin .regLoginBox .register input[type=text], .loginPage .regLogin .regLoginBox .register input[type=password],
      .loginPage .regLogin .regLoginBox .login input[type=text],
      .loginPage .regLogin .regLoginBox .login input[type=password] {
        background-color: #e9ebee;
        border-style: none;
        border: 1px solid lightgrey;
        border-radius: 5px;
        height: 25px;
        width: 80%; }
      .loginPage .regLogin .regLoginBox .register input[type=text]:active, .loginPage .regLogin .regLoginBox .register input[type=password]:active,
      .loginPage .regLogin .regLoginBox .register input[type=text]:hover, .loginPage .regLogin .regLoginBox .register input[type=password]:hover,
      .loginPage .regLogin .regLoginBox .login input[type=text]:active,
      .loginPage .regLogin .regLoginBox .login input[type=password]:active,
      .loginPage .regLogin .regLoginBox .login input[type=text]:hover,
      .loginPage .regLogin .regLoginBox .login input[type=password]:hover {
        background-color: #f7fffc; }
      .loginPage .regLogin .regLoginBox .register input[type=submit],
      .loginPage .regLogin .regLoginBox .login input[type=submit] {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #f7fffc;
        border-style: none;
        border: 2px solid #e9ebee;
        margin-left: 10px; }
      .loginPage .regLogin .regLoginBox .register input[type=submit]:hover,
      .loginPage .regLogin .regLoginBox .register input[type=submit]:active,
      .loginPage .regLogin .regLoginBox .login input[type=submit]:hover,
      .loginPage .regLogin .regLoginBox .login input[type=submit]:active {
        background-color: #c9eddc;
        border: 2px solid #a7c4a0; }
      .loginPage .regLogin .regLoginBox .register .warning,
      .loginPage .regLogin .regLoginBox .login .warning {
        color: #4c3b4d; }
      .loginPage .regLogin .regLoginBox .register .regWrap,
      .loginPage .regLogin .regLoginBox .login .regWrap {
        width: 50%;
        height: 300px;
        margin: 0 auto; }
    .loginPage .regLogin .regLoginBox .verticalLine {
      margin-top: 10px;
      border: 1px solid #e9ebee;
      height: 400px; }
    .loginPage .regLogin .regLoginBox .login .logWrap {
      width: 50%;
      margin: 0 auto; }

.fillPage {
  background-color: #f7fffc;
  height: 100%;
  overflow: hidden; }
  .fillPage h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px; }
  .fillPage .fillForm {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 0 auto; }
    .fillPage .fillForm .inputWrap {
      margin: 0 auto; }
      .fillPage .fillForm .inputWrap .fillInputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px; }
        .fillPage .fillForm .inputWrap .fillInputs input[type=text], .fillPage .fillForm .inputWrap .fillInputs textarea {
          width: 300px;
          background-color: #e9ebee;
          border-style: none;
          border: 1px solid lightgrey;
          border-radius: 5px; }
        .fillPage .fillForm .inputWrap .fillInputs input[type=text] {
          height: 25px; }
        .fillPage .fillForm .inputWrap .fillInputs input[type=text]:hover,
        .fillPage .fillForm .inputWrap .fillInputs input[type=text]:active,
        .fillPage .fillForm .inputWrap .fillInputs textarea:hover {
          background-color: #f7fffc; }
  .fillPage input[type=submit] {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #c9eddc;
    border-style: none;
    border: 2px solid #e9ebee;
    margin: 10px auto; }
  .fillPage input[type=submit]:hover,
  .fillPage input[type=submit]:active {
    background-color: #c9eddc;
    border: 2px solid #a7c4a0; }

.profilePage {
  background-color: #f7fffc;
  height: 800px;
  overflow: hidden; }
  .profilePage h1 {
    color: #a7c4a0;
    font-weight: 300;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px; }
  .profilePage .boards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto; }
    .profilePage .boards .existingBoard {
      border: 1px solid grey;
      margin-bottom: 30px;
      border-radius: 5px;
      background-color: #c9eddc;
      width: 200px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .profilePage .boards .existingBoard .boardName {
        text-decoration: none;
        color: #4c3b4d;
        font-size: 1.5rem;
        text-align: center; }
      .profilePage .boards .existingBoard .editInput {
        background-color: #f7fffc;
        border-style: none;
        font-family: 'Lato';
        font-size: 1.4rem;
        color: #4c3b4d;
        width: 80%;
        margin-left: 18px; }
      .profilePage .boards .existingBoard input[type=submit] {
        margin: 5px auto;
        display: block; }
      .profilePage .boards .existingBoard .btnWrap {
        margin: 0 auto; }

.listView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%; }
  .listView .list {
    border: 1px solid black;
    width: 320px; }
    .listView .list .taskUL li {
      list-style: none;
      border: 1px solid red; }
    .listView .list .taskUL .selectedTask {
      background-color: #a7c4a0; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #e9ebee; }

.container {
  width: 90%;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
